# DB 설정
DB_HOST=snowman-rds.cr8kguie4i7g.ap-northeast-2.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=!postgres01

# SSH 터널 (로컬: true, EC2: false)
USE_SSH_TUNNEL=false

# OpenAI
OPENAI_API_KEY=your-openai-api-key
